{% extends "base.html" %}
{% load socialaccount %}

{% block content %}

<h2>Create an account</h2>

<form action="." method="post">
    {% csrf_token %}

    <h3>First name</h3>{{ form.first_name }}
    <h3>Last name</h3>{{ form.last_name }}
    <h3>Username</h3>{{ form.username }}
    <h3>Email</h3>{{ form.email }}
    <h3>Password</h3>{{ form.password1 }}
    <h3>Repeat password</h3>{{ form.password2 }}

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <button type="submit">Sign up</button>
</form>

<a href="{% provider_login_url 'google' user='is_worker' %}">Continue with Google</a>

{% endblock %}