{% extends "base.html" %}

{% block content %}

{% if user.is_customer %}

    <h2>My appointments</h2>

    {% for appointment in appointments %}
        <p>{{ appointment.worker.username }} {{ appointment.location }} {{ appointment.time }} {{ appointment.date }} </p>
        <a href="{% url 'appointment:appointments-delete' appointment.id %}">Cancel</a>
    {% endfor %}

{% else  %}

    <h2>My list of customers appointments</h2>

    {% for appointment in appointments %}
        <p>{{ appointment.customer.username }} {{ appointment.location }} {{ appointment.time }} {{ appointment.date }} </p>
        <a href="{% url 'appointment:appointments-delete' appointment.id %}">Cancel</a>
    {% endfor %}

{% endif %}

{% endblock %}
