{% extends "base.html" %}

{% block content %}

<h2>Worker detail</h2>

First name - {{ worker.first_name }}<hr>
Last name - {{ worker.last_name }}<hr>
Date joined - {{ worker.date_joined }}<hr>
Provide service - {{ worker.provide_service }}<hr>

<table style="margin: 0 auto;">
    <tr>
        <td>
            <form action="" method="get">
                <button name="day" value="{{ week.back }}">back</button>
            </form>
        </td>
        {% for day in week.day_list %}
            <td style="display: flex; align-items: center;">

                <p>{{ day.date }}</p>
                <p>{{ day.weekday }}</p>

                {% for hour in day.hour_list %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="date_time" value="{{ day.date }}/{{ hour }}">{{ hour }}</button>
                    </form>
                {% endfor %}
            </td>
        {% endfor %}
        <td>
            <form action="" method="get">
                <button name="day" value="{{ week.forward }}">forward</button>
            </form>
        </td>
    </tr>
</table>

{% endblock %}